<div id="new-tweet">
  <textarea class="form-control" id="tweet-contents"></textarea>

  <button class="btn btn-primary" id="save-tweet">Save</button>

  <p></p>

  <ul class="item-list"></ul>

</div>

<div id="new-counter">

<p class="count-control">P Tags</p>
<button class="btn btn-primary" id="add-counter">+</button>
<button class="btn btn-primary" id="sub-counter">-</button>
<button class="btn btn-primary" id="reset-counter">Reset</button>
<ul class="counter-list">Start of the list</ul>
</div>
